<?xml version="1.0" encoding="ISO-8859-15"?>

<OX>
    <OXMENU id="NAVIGATION_BEPADO">
        <MAINMENU id="mf_bepado_configuration">
            <SUBMENU id="mf_configuration_module" cl="mf_configuration_module" list="mf_configuration_module_list">
                <TAB id="mf_configuration_module_main" cl="mf_configuration_module_main" />
            </SUBMENU>
            <SUBMENU id="mf_configuration_category" cl="mf_configuration_category" list="mf_configuration_category_list">
                <TAB id="mf_configuration_category_main" cl="mf_configuration_category_main" />
            </SUBMENU>
            <SUBMENU id="mfunit" cl="mfunit" list="mfunit_list">
                <TAB id="mfunit_main" cl="mfunit_main" />
            </SUBMENU>
        </MAINMENU>
        <MAINMENU id="mf_bepado_products">
            <SUBMENU id="mf_product_import" cl="mf_product_import" list="mf_product_import_list">
                <TAB id="mf_product_import_main" cl="mf_product_import_main" />
            </SUBMENU>
            <SUBMENU id="mf_product_export" cl="mf_product_export" list="mf_product_export_list">
                <TAB id="mf_product_export_main" cl="mf_product_export_main" />
            </SUBMENU>
        </MAINMENU>
    </OXMENU>
</OX>
